body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif !important;
}
.box-in{
        margin:20px auto;
        padding: 15px;
        width: 90%;
        height: auto;
        border-radius: 1vw;
        box-shadow: 2px 3px 4px gray;
        }
@media only screen and(min-width: 720px){
    .inputs{
        width: 95%;
        border: none !important;
        border-bottom: 2px solid green !important;
        margin:10px;
    }
    .inputs-btn{
        width: 80%;
        border: none;
        border-bottom: 2px solid green;
        margin:10px;
    }
    .btn-tambah{
        width: 10vw;
        height: 6vh;
        line-height:6vh;
        padding: 0;
        padding: 2px 10px;
        font-weight: bold;
    }
}
@media only screen and(max-width: 719px){

    .inputs{
        width: 80%;
        border: none !important;
        border-bottom: 2px solid green !important;
        margin:2px;
    }
    .inputs-btn{
        width: 75%;
        border: none;
        border-bottom: 2px solid green;
        margin:2px;
    }
    .btn-tambah{
        width: 10vw;
        height: 6vh;
        line-height:6vh;
        padding: 2px 10px;
        font-weight: bold;
    }
}


/*textheaderresponsive*/
@media only screen and (min-width: 991px) {
    .textresph {
        font-family: 'Montserrat', 'Roboto', 'Arial', sans-serif;
    }
    form > *{
        font-size: 14pt;
    }

    h1 {
        font-size: 50px;
    }

    h2 {
        font-size: 28px;
    }

    h3 {
        font-size: 18px;
    }

    h4 {
        font-size: 16px;
    }

    h5 {
        font-size: 14px;
    }
}

@media only screen and (min-width: 767px) {
    .textresph {
        font-family: 'Montserrat', 'Roboto', 'Arial', sans-serif
    }
    form > *{
        font-size: 12pt;
    }
    h1 {
        font-size: 45px;
    }

    h2 {
        font-size: 23px;
    }

    h3 {
        font-size: 15px;
    }

    h4 {
        font-size: 13px;
    }

    h5 {
        font-size: 12px;
    }
}

@media only screen and (max-width: 767px) {
    .textresph {
        font-family: 'Montserrat', 'Roboto', 'Arial', sans-serif;
    }
    form > *{
        font-size: 10pt;
    }
    h1 {
        font-size: 20px !important;
    }

    h2 {
        font-size: 23px !important;
    }

    h3 {
        font-size: 15px !important;
    }

    h4 {
        font-size: 13px !important;
    }

    h5 {
        font-size: 12px;
    }

    .headresp {
        margin-top: 25px;
    }
}
.btn-tomb{
    padding: 0px 4px;
    border-radius: 3px;
    background-color: #de0808;
    box-shadow: 1px 2px 2px gray;
}
.li-inline-b{
    display: inline-block;
    list-style: none;
}
.li-inline-b > .btn-tomb > input{
    display: none;
}

  .card.card-primary {
    border-top: 2px solid #6777ef; }
  .card.card-secondary {
    border-top: 2px solid #34395e; }
  .card.card-success {
    border-top: 2px solid #63ed7a; }
  .card.card-danger {
    border-top: 2px solid #fc544b; }
  .card.card-warning {
    border-top: 2px solid #ffa426; }
  .card.card-info {
    border-top: 2px solid #3abaf4; }
  .card.card-dark {
    border-top: 2px solid #191d21; }
  .card.card-hero .card-header {
    padding: 40px;
    background-image: linear-gradient(to bottom, #6777ef, #95a0f4);
    color: #fff;
    overflow: hidden;
    height: auto;
    min-height: auto;
    display: block; }

    .card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.03);
  background-color: #fff;
  border-radius: 3px;
  border: none;
  position: relative;
  margin-bottom: 30px; }
  .card .card-header, .card .card-body, .card .card-footer {
    background-color: transparent;
    padding: 20px 25px; }
  .card .navbar {
    position: static; }
  .card .card-body {
    padding-top: 20px;
    padding-bottom: 20px; }
    .card .card-body .section-title {
      margin: 30px 0 10px 0;
      font-size: 16px; }
      .card .card-body .section-title:before {
        margin-top: 8px; }
    .card .card-body .section-title + .section-lead {
      margin-top: -5px; }
    .card .card-body p {
      font-weight: 500; }
  .card .card-header {
    border-bottom-color: #f9f9f9;
    line-height: 30px;
    -ms-grid-row-align: center;
    align-self: center;
    width: 100%;
    min-height: 70px;
    padding: 15px 25px;
    display: flex;
    align-items: center; }