    body{
    	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif !important;
    	background-color: #efefef !important;
    }
    .input-bottom{
    	border:none !important;
    	border-bottom: 2px solid #74c0fc!important;
    }
    .input-bottom:focus{
    	border-bottom: 2px solid #007BFF!important;
    }
    .hrefing{
    	text-decoration: none;
    	cursor: pointer !important;
    }
    .hrefing:link{
    	text-decoration: none;
    	cursor: pointer !important;
    }
    .hrefing:hover{
    	cursor: pointer !important;
    }
    .card,.card-body{
    	overflow: hidden !important;
    	white-space: nowrap !important;
    	padding-right: 10px;
    }

    .card .card-body .text-wrap{
    	overflow: hidden !important;
    	white-space: nowrap !important;
    	margin-left: 5px;
    }
    .doc{
    	padding:9px !important;
    	width: 21%;
    	height: auto;
    	border-radius: 60% !important;
    	box-shadow: 3px 3px 4px gray;
    }
    .card-title{
    	font-size: 0.8em !important;
    }
    .nav-link{
    	outline: none;
    }
    .btn-tambah{
    }
    .btn-tomb{
    	padding: 0px 4px;
    	border-radius: 3px;
    	background-color: #de0808;
    	box-shadow: 1px 2px 2px gray;
    }
    .li-inline-b{
    	display: inline-block;
    	list-style: none;
    }
    .li-inline-b > .btn-tomb > input{
    	display: none;
    }
    .textresph {
    	font-family: 'Montserrat', 'Roboto', 'Arial', sans-serif;
    }
    form > *{
    	font-size: 10pt;
    }
    h1 {
    	font-size: 20px !important;
    }

    h2 {
    	font-size: 23px !important;
    }

    h3 {
    	font-size: 15px !important;
    }

    h4 {
    	font-size: 13px !important;
    }

    h5 {
    	font-size: 12px;
    }

    .headresp {
    	margin-top: 25px;
    }
    .inputs{
    	width: 80%;
    	border: none !important;
    	border-bottom: 2px solid green !important;
    	margin:2px;
    }
    .inputs-btn{
    	width: 80%;
    	border: none;
    	border-bottom: 2px solid green;
    	margin:2px;
    }
    .preview-gambar{
    	width: 70% !important;
    	height: auto;
    }
    .gambar-resp{
    	width: auto;
    	height: 100%;
    }
    .btn-hapus{
    	margin-left: 4px !important ;
    	cursor: pointer;
    }
    .preview-gambar .card-img-top{
    	max-height: 200px;
    	overflow: hidden;
    	border-radius: 4%;
    }
    @media (max-width: 468px){
    	.preview-gambar{
    		width: 100% !important;
    		height: auto;
    	}
    }
    @media (min-width: 469px){
    	.preview-gambar{
    		width: 100% !important;
    		height: auto;
    	}
    }
    @media (min-width: 768px){
    	.preview-gambar{
    		width: 100% !important;
    		height: auto;
    	}
    	.preview-gambar .card-img-top{
    		min-height: 150px;
    		max-height: 150px;
    		overflow: hidden;
    	}
    	.gambar-resp{
    		width: auto;
    		height: 100%;
    	}
    }
    @media (min-width: 991px){
    	.preview-gambar{
    		width: 100% !important;
    		height: auto;
    	}
    	.preview-gambar .card-img-top{
    		min-height: 200px;
    		max-height: 200px;
    		overflow: hidden;
    	}
    	.gambar-resp{
    		width: auto;
    		height: 100%;
    	}
    }
				.shad{
					padding: 3px;
					box-shadow: 6px 6px 10px lightgray;
				}
    .box-in{
    	width: 96%;
    	height: auto;
    	margin:20px auto;
    	padding: 40px 20px;
    	border-radius: 10px;
    	box-shadow: 2px 3px 4px gray;
    	background-color: white;
    }
    @media (min-width: 468px){
    	.box-in{
    		width: 90%;
    		height: auto;
    		margin:20px auto;
    		padding: 40px 20px;
    		border-radius: 10px;
    		box-shadow: 2px 3px 4px gray;
    	}
    }
    @media (min-width: 768px){
    	.box-in{
    		width: 70%;
    		height: auto;
    		margin:20px auto;
    		padding: 40px 25px;
    		border-radius: 10px;
    		box-shadow: 2px 3px 4px gray;
    	}
    }
    @media (min-width: 991px) {
    	.box-in{
    		width: 60%;
    		height: auto;
    		margin:20px auto;
    		padding: 40px 30px;
    		border-radius: 10px;
    		box-shadow: 2px 3px 4px gray;
    	}
    }
